.greeting {
    font-family: "K2D", sans-serif;
    align-content: center;
    color: white;
    font-size: 35px;
    width: 100px;
}

h1 {
    font-family: "K2D", sans-serif;
    text-align: center;
    color: white;
}

body {
    background-color: #3500D3;
}

.Check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "K2D", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px 27px;
    font-size: 50px;
    background-color: #3500D3;
    color: white;
}

.block {
    width: 900px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(0, 0, 0);
}

.block_br {
    width: 50px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(667%, -50%);
    border: 10px solid rgb(0, 0, 0);
    border-left-style: solid;
    border-right-style: none;
}

.contact {
    font-family: "K2D", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(1500%, -250%);
    background-color: white;
    border-radius: 20px;
    font-size: 30px;
}

@media screen and (min-width: 481px) {
    .block {

        flex-direction: column;

    }
}

