.greeting {
    font-family: "K2D", sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
}

h1 {
    font-family: "K2D", sans-serif;
    text-align: center;
    color: white;
    padding-top: 30px;
}

body {
    background-color: #3500D3;
}

.Check {
    font-family: "K2D", sans-serif;
    padding: 13px 27px;
    font-size: 50px;
    background-color: #3500D3;
    color: white;
    border: none;
    cursor: pointer;
}

.block {
    width: 90%;
    max-width: 900px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    border: 10px solid rgb(0, 0, 0);
}

.contact {
    font-family: "K2D", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    font-size: 30px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}